*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.navbar{
    font-size: 15px !important;
}
.navbar-brand{
    font-weight: bolder;
    color: coral !important;
}
#search{
    width: 48% !important;
}
#home{
    margin-right: 5px;
    
}
#d1{
    margin-right: 5px;
    
}
#d2{
    margin-right: 5px;
    
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
#likes{
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    color: #1e0a3c;
}
.content{
    margin: 30px 60px;
    padding: 30px 150px;
}
#dt{
    font-size: small !important;
    color: slategray;
}
.container i{
    font-size: 1.5rem;
}
.container i:hover{
    color: #f50057;
}
.fas{
    color: #f50057;
    transition: .4s;
}
.btn{
    float: right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}